#ShopProduct {
    border-radius: 10%;
    background-color: #252627;
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    overflow: hidden;
    transition: 0.3s;

    .imgBox {
        width: 100%;
        height: 225px;
    }

    .textBox {
        height: 55%;
        padding: 0em 1.2em 2em 1.2em;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 0.5em;

        .title {
            width: fit-content;
            cursor: pointer;
            font-weight: 800;
            letter-spacing: 1px;
            transition: 0.4s;

            &:hover {
                color: var(--red);
            }
        }

        .infoBox {
            cursor: default;
            display: flex;
            align-items: flex-end;
            column-gap: 0.5em;

            .info {
                font-size: 16px;
                font-weight: 500;

                &::before {
                    display: block;
                    content: attr(data);
                    font-size: 9px;
                }
            }
        }

        .currentBidBox {
            display: flex;
            align-items: center;
            column-gap: 0.5em;

            .text {
                color: var(--grey);
            }

            .currentBid {
                color: var(--orange);
                font-size: 17px;
                font-weight: 700;
            }
        }

        .maxBidOfferBox {
            display: flex;
            align-items: center;
            column-gap: 0.5em;

            .text {
                color: var(--grey);
            }

            .bidOffer {
                color: var(--green);
                font-size: 16px;
                font-weight: 600;
            }
        }

        .auctioneerBox {
            display: flex;
            align-items: center;
            column-gap: 0.5em;

            .text {
                color: var(--grey);
            }

            .auctioneer {
                color: var(--green);
                font-size: 16px;
                font-weight: 600;
            }
        }

        .timeBox {
            display: flex;
            align-items: flex-end;
            column-gap: 0.8em;

            .time {
                cursor: default;
                font-size: 20px;
                transition: 0.3s;

                &::before {
                    display: block;
                    content: attr(data);
                    font-size: 10px;
                }
            }

            .timeSeperator {
                font-size: 20px;
            }

            .to {
                cursor: default;
                align-self: flex-end;
                font-size: 17px;
                font-style: italic;
                color: var(--red);
            }

            .ended {
                font-size: 20px;
                color: var(--red);
            }
        }
    }
}