// Default Button

.Button {
    color: white;
    background-color: var(--red);
    font-size: 20px;
    font-weight: 700;
    padding: 0.7em 3em;
    border: 2px solid transparent;
    border-radius: 4px;
    letter-spacing: 1px;
    transition: 0.5s;

    &:hover {
        color: black;
        background-color: transparent;
        border: 2px solid black;
    }
}

// Default Button 2

.Button2 {
    color: white;
    background-color: var(--red);
    font-size: 16px;
    font-weight: 700;
    padding: 0.5em 2.5em;
    border: 2px solid transparent;
    border-radius: 4px;
    letter-spacing: 1px;
    transition: 0.5s;

    &:hover {
        color: black;
        background-color: transparent;
        border: 2px solid black;
    }
}

// Navbar Button

.NavButton {
    color: white;
    background-color: var(--red);
    font-size: 16px;
    font-weight: 700;
    padding: 0.5em 2em;
    border: 2px solid white;
    border-radius: 4px;
    letter-spacing: 1px;
    transition: 0.5s;

    &:hover {
        color: black;
        background-color: transparent;
        border: 2px solid black;
    }
}

// HeaderHolder

#HeaderHolder{
    position: sticky;
    top: 0;
    z-index: 15;
}
