:root {
  --grey: #a09d96;
  --red: #fc1111;
  --orange: #ff3e1a;
  --white: #eee;
  --green: #00aa4d;
}

html {
  overflow-x: hidden;
}

* {
  color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
}

input {
  outline: none;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
