#MyProduct {
    border-radius: 10%;
    background-color: #252627;
    width: 400px;
    height: 590px;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    overflow: hidden;
    transition: 0.3s;

    .imgBox {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 45%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-width: none;
            max-height: 100%;
        }

        .productBtn {
            width: 100%;
            position: absolute;
            bottom: -42px;
        }
    }

    .textBox {
        height: 55%;
        padding: 0em 1.5em 2em 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 1.5em;

        .title {
            cursor: pointer;
            font-weight: 800;
            letter-spacing: 1px;
            transition: 0.4s;

            &:hover{
                color: var(--red);
            }
        }

        .infoBox {
            cursor: default;
            display: flex;
            align-items: flex-end;
            column-gap: 0.5em;

            .info {
                font-size: 18px;
                font-weight: 500;

                &::before {
                    display: block;
                    content: attr(data);
                    font-size: 10px;
                }
            }
        }

        .maxBidBox {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            row-gap: 1em;

            .bidText {
                display: flex;
                align-items: center;
                column-gap: 0.5em;

                .text {
                    color: var(--grey);
                }

                .bid {
                    color: var(--orange);
                    font-size: 17px;
                    font-weight: 700;
                }
            }

            .offerText {
                display: flex;
                align-items: center;
                column-gap: 0.5em;

                .text {
                    color: var(--grey);
                }

                .offer {
                    color: var(--green);
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }

        .timeBox {
            display: flex;
            align-items: flex-end;
            column-gap: 0.8em;

            .time {
                cursor: default;
                font-size: 25px;
                transition: 0.3s;

                &::before {
                    display: block;
                    content: attr(data);
                    font-size: 10px;
                }
            }

            .timeSeperator {
                font-size: 25px;
            }

            .to {
                cursor: default;
                align-self: flex-end;
                font-size: 17px;
                font-style: italic;
                color: var(--red);
            }

            .ended {
                font-size: 25px;
                color: var(--red);
            }
        }
    }

    &:hover {

        .imgBox {

            .productBtn {
                bottom: 0;
            }
        }

    }
}

@media screen and (max-width:1200px) {
    #MyProduct {
        border-radius: 10%;
        background-color: #252627;
        width: 350px;
        height: 590px;
        display: flex;
        flex-direction: column;
        row-gap: 2em;
        overflow: hidden;
        transition: 0.3s;

        .imgBox {
            overflow: hidden;
            position: relative;
            width: 100%;
            height: 45%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-width: none;
                max-height: 100%;
            }

            .productBtn {
                width: 100%;
                position: absolute;
                bottom: -42px;
            }
        }

        .textBox {
            height: 55%;
            padding: 0em 1.5em 2em 1.5em;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            row-gap: 1.5em;

            .title {
                font-weight: 800;
                letter-spacing: 1px;
            }

            .infoBox {
                cursor: default;
                display: flex;
                align-items: flex-end;
                column-gap: 0.5em;

                .info {
                    font-size: 18px;
                    font-weight: 500;

                    &::before {
                        display: block;
                        content: attr(data);
                        font-size: 10px;
                    }
                }
            }

            .maxBidBox {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                row-gap: 1em;

                .bidText {
                    display: flex;
                    align-items: center;
                    column-gap: 0.5em;

                    .text {
                        color: var(--grey);
                    }

                    .bid {
                        color: var(--orange);
                        font-size: 16px;
                        font-weight: 700;
                    }
                }

                .offerText {
                    display: flex;
                    align-items: center;
                    column-gap: 0.5em;

                    .text {
                        color: var(--grey);
                    }

                    .offer {
                        color: var(--orange);
                        font-size: 16px;
                        font-weight: 700;
                    }
                }
            }

            .timeBox {
                display: flex;
                align-items: flex-end;
                column-gap: 0.8em;

                .time {
                    cursor: default;
                    font-size: 25px;
                    transition: 0.3s;

                    &::before {
                        display: block;
                        content: attr(data);
                        font-size: 10px;
                    }
                }

                .timeSeperator {
                    font-size: 25px;
                }

                .to {
                    cursor: default;
                    align-self: flex-end;
                    font-size: 17px;
                    font-style: italic;
                    color: var(--red);
                }

                .ended {
                    font-size: 25px;

                }
            }
        }
    }
}

@media screen and (max-width:400px) {
    #MyProduct {
        border-radius: 10%;
        background-color: #252627;
        width: 300px;
        height: 483px;
        display: flex;
        flex-direction: column;
        row-gap: 2em;
        overflow: hidden;
        transition: 0.3s;

        .imgBox {
            overflow: hidden;
            position: relative;
            width: 100%;
            height: 80%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-width: none;
                max-height: 100%;
            }

            .productBtn {
                width: 100%;
                position: absolute;
                bottom: -42px;
            }
        }

        .textBox {
            height: 100%;
            padding: 0em 1em 2em 1em;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            row-gap: 1em;

            .title {
                font-weight: 800;
                letter-spacing: 1px;
            }

            .infoBox {
                cursor: default;
                display: flex;
                align-items: flex-end;
                column-gap: 0.5em;

                .info {
                    font-size: 14px;
                    font-weight: 500;

                    &::before {
                        display: block;
                        content: attr(data);
                        font-size: 10px;
                    }
                }
            }

            .maxBidBox {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                row-gap: 0.3em;

                .bidText {
                    display: flex;
                    align-items: center;
                    column-gap: 0.5em;

                    .text {
                        color: var(--grey);
                    }

                    .bid {
                        color: var(--orange);
                        font-size: 14px;
                        font-weight: 700;
                    }
                }

                .offerText {
                    display: flex;
                    align-items: center;
                    column-gap: 0.5em;

                    .text {
                        color: var(--grey);
                    }

                    .offer {
                        color: var(--orange);
                        font-size: 14px;
                        font-weight: 700;
                    }
                }
            }

            .timeBox {
                display: flex;
                align-items: flex-end;
                column-gap: 0.5em;

                .time {
                    cursor: default;
                    font-size: 20px;
                    transition: 0.3s;

                    &::before {
                        display: block;
                        content: attr(data);
                        font-size: 10px;
                    }
                }

                .timeSeperator {
                    font-size: 20px;
                }

                .to {
                    cursor: default;
                    align-self: flex-end;
                    font-size: 14px;
                    font-style: italic;
                    color: var(--red);
                }

                .ended {
                    font-size: 18px;

                }
            }
        }
    }
}